body {
  background-color: rgb(228, 220, 252);
}

nav ul li {
  display: inline;
  margin: 10px 5px;
  text-align: center;
  padding: 3px;
  border: 2px dotted grey;
}
nav ul {
  padding: 0px;
  display: block;
  width: 100%;
  margin: 20px auto;
  text-align: center;
}
h1 {
  text-align: center;
  display: block;
  border-bottom: 3px solid black;
}
a {
  color: rgba(103, 103, 105, 0.863);
}
h2 {
  display: block;
  text-align: center;
  padding-top: 50px;
}
h3 {
  display: block;
  width: 100%;
  margin: 20px auto;
  text-align: center;
}
img {
  display: block;
  margin: 0px auto;
  width: 300px;
}
p {
  display: block;
  text-align: center;
}
.l1 {
  float: left;
}
.l3 {
  float: right;
}
@media screen and (max-width: 480px) {
  nav ul li {
    display: block;
    margin: 0px;
  }
  nav ul {
    width: 100%;
  }
}
